<section id="about" class="mat-typography statics" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
	<div class="container">

		<div class="pricing-heading about-heading" fxLayout="column" fxLayoutAlign="center center">
		  <div>
		  <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Statics</h2>
		  </div>
		  <div>
		  <!-- <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.</h3> -->
		  </div>
	  </div>

	  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
		  <div fxFlex="25">
				<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
				  <div>
					<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
				  </div>
				  <span fxFlex="30px"></span>
				  <h2 class="about-text">1,000</h2>
				  <span fxFlex="10px"></span>
				  <p class="about-text">Clients Served</p>
				</div>
			</div>

			<div fxFlex="25">
				<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
				  <div>
					<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
				  </div>
				  <span fxFlex="30px"></span>
				  <h2 class="about-text">2,000</h2>
				  <span fxFlex="10px"></span>
				  <p class="about-text">Machines.</p>
				</div>
			</div>

			<div fxFlex="25">
				<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
				  <div>
					<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
				  </div>
				  <span fxFlex="30px"></span>
				  <h2 class="about-text">3,000</h2>
				  <span fxFlex="10px"></span>

				  <p class="about-text">Qualified Staff.</p>
				</div>
			</div>

			<div fxFlex="25">
				<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
				  <div>
					<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
				  </div>
				  <span fxFlex="30px"></span>
				  <h2 class="about-text">4,000</h2>
				  <span fxFlex="10px"></span>

				  <p class="about-text">sites.</p>
				</div> 
					
			</div>
			
	  </div>
	  
	</div>
<!-- 	
	<div fxLayout="row" fxLayoutAlign="center center">
	  <button mat-raised-button color="accent" type="submit">View all Services</button>
	 </div> -->

</section>
